@charset "UTF-8";

/* ---- その他のスタイル調整用CSS ---- */

/* ---- 文字の色 ---- */
body {
	color: #12526d;
}

/* ---- ページタイトル ---- */
h3 {
	padding-left: 20px;
}

/* ---- 社員登録入力画面へのリンク ---- */
div.regist_link {
	padding-right: 35px;
	padding-bottom: 10px;
	text-align: right;
}

/* ---- 社員情報一覧テーブル ---- */
table {
	background-color: #FFFFFF;
	border-color: #87CEEB;
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
	width: 785px;
	margin: 0px auto 20px;
}

table td, table th {
	border-width: 1px;
	border-style: solid;
	border-color: #87CEEB;
}

td.data {
	width: 60px;
}

th.empId {
	width: 60px;
}

th.empName {
	width: 80px;
}

th.gender {
	width: 50px;
}

th.address {
	width: 80px;
}

th.birthday {
	width: 100px;
}

th.authority {
	width: 60px;
}

th.deptName {
	width: 60px;
}

th.hireDate {
	width: 100px;
}

th.button {
	width: 60px;
}

td.button {
	text-align: center;
}

table td {
	padding-left: 5px;
}

/* ---- 入力フォーム(検索、登録、変更、削除) ---- */
div.form {
	display: flex;
	width: 720px;
	margin: 0px auto;
}

.regist_form {
	display: flex;
	width: 550px;
	margin: 0 auto;
}

.confirm_errMessage {
	color: #FF0000;
	margin-left: 5px;
	margin-top: -5px;
}

.pass_display_group_regist {
	margin: -10px 0 5px 245px;
}

div.label {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 245px;
	height: 35px;
	padding-right: 5px;
	text-align: right;
}

div.input {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 470px;
	height: 35px;
	text-align: left;
	
}

select {
	font-size: 10pt;
	color: #12526d;
}

/* ---- 入力フォーム(ログイン) ---- */

.login_form{
	display: flex;
}
div.login_label {

	width: 305px;
	height: 35px;
	padding-right: 5px;
	text-align: right;
}

div.login_input {
	
	width: 410px;
	height: 35px;
	text-align: left;
}

.pass_display_group {
	margin-left: -230px;
    margin-top: 1px;
}
 
/* ----社員詳細ページ-----*/
.details_emp_img{
	margin: 20px 0;
	text-align: center;
}

.details_table {
	width: 500px;
}

.details_table th {
	width: 120px;
}

/* ---- 処理完了メッセージの出力箇所 ---- */
div.message {
	height: 150px;
	padding-top: 30px;
	text-align: center;
}

/* ---- ボタン全般 ---- */
input[type=submit] {
	border-width: 1px;
	border-style: solid;
	border-color: #808080;
	padding: 0px 10px;
	border-radius: 6px;
	color: #12526d;
}

/* ---- エラーメッセージ ---- */
.error {
	color: #FF0000;
}

.warning {
	color: #FF0000;
}

.input_errMessage {
	color: #FF0000;
	margin-left: 5px;
	margin-top: -5px;
}

